<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% if waiting %}
			<meta http-equiv="refresh" content="5">
		{% endif %}
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            position: relative;
        }

        header h1 {
            font-size: 1.5rem;
            margin: 0;
        }

        .exit-button {
            background: none;
            border: none;
            cursor: pointer;
            position: relative;
        }

        .exit-button svg {
            width: 24px;
            height: 24px;
            fill: #ff4d4d;
						background-color: grey;
        }

        /* Dropdown content that appears on hover */
        .exit-button .dropdown-content {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 30px;
            left: -200px;
            background-color: #333;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1;
            width: 200px;
            text-align: center;
            transition: visibility 0.3s, opacity 0.3s ease-in-out;
        }

        .exit-button .dropdown-content::before {
            content: '';
            position: absolute;
            top: -10px;
            left: calc(50% - 5px);
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #333 transparent;
        }

        .exit-button:hover .dropdown-content,
        .exit-button .dropdown-content:hover {
            visibility: visible;
            opacity: 1;
        }

        .confirm-exit {
            display: block;
            background-color: #ff4d4d;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            font-size: 0.9rem;
        }

        .confirm-exit:hover {
            background-color: #e60000;
        }

        main {
						flex: 1;
						overflow-y: auto;
            padding: 20px;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            flex: 1;
            box-sizing: border-box;
						{% if waiting %}
							justify-content: center;
							align-items: center;
						{% endif %}
        }

        .chat-window {
            flex: 1;
						display: flex;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow-y: auto;
            margin-bottom: 20px;
						flex-direction: column-reverse;
            height: calc(100% - 60px);

						width: 80%;
						margin-left: auto;
						margin-right: auto;
        }

        .message {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            background-color: #e1e1e1;
            color: #000;
        }

        .message strong {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

				.sender_system {
					display: flex;
					justify-content: center;
					border-radius: 30px;
				}

				.sender_them {
					color: red;
				}

        form {
            display: flex;
            align-items: center;
        }

        input[type="text"] {
            flex: 1;
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
        }

        button[type="submit"] {
            padding: 0;
            border: none;
            background: none;
            cursor: pointer;
        }

        button[type="submit"] svg {
            width: 24px;
            height: 24px;
            fill: #333;
        }

        button[type="submit"]:hover svg {
            fill: #555;
        }

				.loader {
					border: 16px solid #f3f3f3;
					border-top: 16px solid #3498db;
					border-radius: 50%;
					width: 120px;
					height: 120px;
					animation: spin 2s linear infinite;
				}

				@keyframes spin {
					0% { transform: rotate(0deg); }
					100% { transform: rotate(360deg); }
					}
    </style>
</head>
<body>
    <header>
			<h1>Strangerdanger.lol</h1>
			{% if not waiting %}
				<div class="exit-button">
					<svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
					 width="800px" height="800px" viewBox="0 0 520.349 520.349"
					 xml:space="preserve">
					<g>
						<path d="M445.223,0H142.589c-6.683,0-12.105,5.423-12.105,12.105v180.979h16.65c-5.006-6.392-7.725-14.224-7.725-22.467
						c-0.006-9.764,3.8-18.943,10.708-25.845c1.421-1.421,2.973-2.687,4.583-3.845V24.211h278.417v8.697l-127.104,92.285v395.155
						l127.796-92.787c1.626,4.77,6.095,8.228,11.414,8.228c6.685,0,12.105-5.426,12.105-12.105V12.105
						C457.328,5.417,451.907,0,445.223,0z M354.031,331.973c-5.71,0-10.468-7.046-11.691-16.485h-13.63v-10.592h13.819
						c1.448-8.86,6.017-15.38,11.49-15.38c6.638,0,12.011,9.498,12.011,21.231C366.042,322.468,360.663,331.973,354.031,331.973z
						 M150.122,314.471c1.424,1.412,2.967,2.678,4.572,3.824v105.389c0,6.68-5.426,12.105-12.105,12.105
						c-6.683,0-12.105-5.426-12.105-12.105V266.139h16.65C135.948,280.466,136.935,301.271,150.122,314.471z M236.706,218.385
						c4.817,4.817,4.817,12.608,0,17.425l-58.995,59.001c-2.403,2.394-5.556,3.605-8.709,3.611c-3.153-0.006-6.307-1.206-8.71-3.611
						c-4.811-4.817-4.805-12.613,0-17.419l37.974-37.977H75.336c-6.803,0-12.315-5.512-12.315-12.315
						c0-6.803,5.506-12.318,12.321-12.318h122.917l-37.968-37.974c-4.805-4.805-4.811-12.608,0-17.413
						c4.812-4.812,12.614-4.812,17.425,0L236.706,218.385z"/>
							</g>
					</svg>
					<div class="dropdown-content">
						<a href="/exit" class="confirm-exit">Leave</a>
					</div>
				</div>
			{% endif %}
    </header>
		<main>
			{% if waiting %}
				<div class="loader"></div>
			{% else %}
				<iframe class="chat-window" src="/messages"></iframe>
				{% if terminated %}
					{% set toggle = "disabled" %}
				{% else %}
					{% set toggle = "" %}
				{% endif %}
				<form action="/" method="POST">
					<input type="text" id="message" name="message" placeholder=">" required autofocus {{ toggle }}>
					<button type="submit" aria-label="Send" {{ toggle }}>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<path d="M2 21l21-9-21-9v7l15 2-15 2z"/>
						</svg>
						</button>
				</form>
			{% endif %}
		</main>
</body>
</html>
